.about{
    background: var(--color2);
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    align-items: center;
    scroll-snap-align: start;
}

.about-item{
    width: 40%;
}

.about-item > p{
    margin: 1rem 0;
}

@media screen and (max-width: 720px) {
    .about{
    flex-direction: column;
}

.about-title{
margin: 1rem 0 0 0;
} 
.about-item{
padding: 1em;
width: 75%;
}
}