.introdution {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  align-items: center;
  scroll-snap-align: start;
  background-color: var(--color1);
  color: var(--font-color);
}

.introdution-text > p:first-child {
  font-weight: 400;
  font-size: 3em;
}

.logo-header {
  width: 37vw;
  padding: 3rem 0;
}

.title-1 {
  font-weight: 400;
  font-size: 4rem;

  padding: 1em 0 1em 0;
}

.subtitle-1 {
  font-weight: 500;
  font-size: 2rem;

  height: 1.5em;
}

.introdution-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin: 3em 0 0 3em;
}

.highlights {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0 2em 0;
    width: 100%;
}

.logo-introdution {
  min-width: 2.3em;
  padding: 0 1em 0 0;
  max-width: 2em;
}

.highlights > div:first-child {
  display: flex;
  align-items: center;
}

.highlights > div {
  width: 40%;
  font-size: 0.9rem;
}

.highlights > div > p {
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  .title-1 {
    font-size: 2rem;
  }
  .introdution-text > p:first-child {
    font-weight: 400;
    font-size: 2em;
    padding-top: 2em;
  }
}

@media screen and (max-width: 720px) {
  .introdution {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 0 0;
  }

  .introdution-text {
    flex-direction: column;
    margin: 1em;
    align-items: center;
  }

  .logo-header {
    position: relative;
    top: 7em;
  }

  .subtitle-1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .title-1 {
    padding: 0.5em 0 0.5em 0;
  }

  .highlights > div {
    margin: 0 1em 0 1.3em;
  }
  .highlights {
    margin: 2rem 0 8em 0;
    width: 97%;
    align-items: flex-start;
  }

  .highlights > div > p {
    font-size: 0.8em;
  }
}
